main{
    max-width : 1440px;
    min-width : 320px;
    height : auto ;
    display : flexbox ;
    margin : 0 auto 0 auto ;
    position: relative  ;
  }
  .btn-success{
  position : absolute ;
  right : 10px ;
  }
  h2{
    padding: 10px;
  }
  .alert{
    display : block ;
    width : 50% ;
    margin: 0 auto 0 auto ;
    text-align : center ;
  }
  
  #prod-box{
    width: 90% ;
    margin: 10px auto 10px auto ;
    padding : 5px ;
    border : 1px solid #000 ;
  }
  
  .product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width : 300px ;
    height: auto ;
  }
  .product-grid .product-image{
    overflow: hidden;
    position: relative;
    width: 100% ;
    height : 70% ;
    z-index: 1;
  }
  .product-grid .product-image div.image{display: block; }
  .product-grid .product-image img{
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
    object-position: center ;
  }
  .product-grid .add-to-cart{
    background: #464e6b;
    color: #fff;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.3s ease 0s;
  }
  .product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
  .product-grid .product-content{
    background: #fff;
    padding: 8px;
    width: auto;
  }

  @media screen and (max-width : 550px ) {
    main{
      width: 550px ;
    }
    .proCard{
      width: 300px ;
      margin : 0 auto 0 auto ;
      display:  block ;
    }
  }