<main class="w-full border-2 p-2 h-screen ">

    <h4 class=""> Category </h4>
    <div class=" text-left">
        <ul class="p-0 ">
            <li class="pb-2 uppercase pt-2 " routerLink="/Menclothings/category/section/products/:menclothings"> 
                Shirts 
            </li>
            <li class="pb-2 uppercase pt-2 " routerLink="/trouser/category/section/products/:trouser"> 
                Pants / Trouser 
            </li>
            <li class="pb-2 uppercase pt-2 " routerLink="/newarrival/category/section/products/:newarrival"> 
                New Arrivals 
            </li>
            <li class="pb-2 uppercase pt-2 " routerLink="/footwears/category/section/products/:footwears"> 
                Footwears
            </li>
            <li class="pb-2 uppercase pt-2 " routerLink="/accessories/category/section/products/:otheritems"> 
                Accessories 
            </li>
        </ul>
    </div>
</main>